body {
  margin: 0;
}
html,
body {
  font-family: verdana;
  font-size: 24pt;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.wrapper {
  width: 80vw;
}

.interactive {
  width: 100%;
  height: auto;
}

canvas {
  display: block;
}
