body {
  margin: 0;
}
html,
body {
  height: 100%;
	overflow: hidden;
  font-family: verdana;
  font-size: 16pt;
}

.wrapper {
  display: flex;
  width: 80vw;
  flex-direction: column;
  justify-content: center; 
}

.interactive {
  width: 100%;
  height: auto;
}

canvas {
  display: block;
}
